<div class="row" style="background-color:purple">
<div class="row">
	
	<div class="span12 well" style="color:black; size:10px; background-color:silver">
		<table>

      <th>
        <td style="padding-left:300px"><%= link_to "ABOUT US", ministry_Aboutus_path %></td>

      </th>
   		<th>
   			<td style="padding-left:300px;"><%= link_to "HELP", ministry_help_path %></td>

   		</th>

   	
   		</table>
	</div>

</div>


<div class="row" style="margin-top:50px">

  <div class="span8">

    <%= render "devise/shared/first" %>
  </div>
  <div class="span3">


<h2 style="color:white">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div style="color:white"><%= f.label :username or Email%><br />
  <%= f.email_field :signin, autofocus: true %></div>

  <div style="color:white"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div style="color:white"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div style="color:white"><%= f.submit "Sign in" %></div>

 <% end %>
 <%= render "devise/shared/links" %>
</div>
 
</div>


</div>