<h1>Whats cooking?</h1>

<table>
  <tr>
    <th><%= image_tag("pastor.jpg" ,:size =>"50x20" ) %>
</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.image_tag("pastor.jpg" ,:size =>"50x20" ) %></td>
    <td><%= post.Comment %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Whats cooking?', new_post_path %>
